body{
  font-family: sans-serif;
}
/*nuova larghezza massima*/
.container{
  max-width: 1440px;
}

/*reset liste*/
ul{
  list-style-type: none;
}


/*header*/
/* menu */
header nav{
  padding: 16px;
}
/*parte sinistra*/
header nav .logo{
  line-height: 28px;
}
header nav img{
  height: 12.2px;
  vertical-align: middle;
}
/*parte destra*/
header nav a{
    text-decoration: none;
    color: black;
}
header nav li{
  display: inline-block;
  font-size: .690em;
  padding: 8px 14px;
}
header nav .link{
  text-align: right;
}
header nav .lang li{
  border-right: 1px solid black;
}
header nav .lang li:last-child{
  border-right: none;
}
/*burger menu*/
header nav .link span{
display: none;
}
@media all and (max-width: 991px){
  header nav .link li{
    display: none;
  }
  header nav .link span{
    display: inline-block;
    font-size: 2em;
  }
}

/*titolo*/
/*adatto titolo a grandezza schermo*/
@media all and (max-width: 991px){
  header #titolo{
    height: 410px;
  }
  header #titolo .text h1{
    font-size: 1.875em;
  }
}

header #titolo{
  height: 630px;
}
header #titolo .text h1{
  font-size: 3.125em;
}

/*caratteristiche titolo*/
header #titolo{
  position: relative;
  background-image: url(../img/title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
header #titolo .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #titolo .text li{
  display: inline-block;
  margin: 0 8px;
}
header #titolo .text h1{
  margin-bottom: 8px;
}
header #titolo .text p{
  margin-bottom: 16px;
  font-size: .9375em;
}


/*main*/
/*blocchi veicoli*/
main #vehicles a{
  text-decoration: none;
  color: blue;
  display:block;
}
main #vehicles .left{
  padding: 48px 15px 48px 0px;
}
main #vehicles .right{
  padding: 48px 0 48px 15px;
}
main #vehicles .left .go,
main #vehicles .right .bike{
  background-color: #fafafa;
  text-align: center;
  padding: 40px 0;
}
main #vehicles .left .go img:first-child,
main #vehicles .right .bike img:first-child{
  height: 22px;
}
main #vehicles .left .go img,
main #vehicles .right .bike img{
  width:430px;
}
main #vehicles h3{
  margin: 10px 0;
  font-weight: normal;
  font-size: 21px;
}
main #vehicles a{
  font-size: 20px;
}
/*modifico dimensioni responsive*/
@media all and (max-width: 991px){
  main #vehicles .left .go img,
  main #vehicles .right .bike img{
    width:330px;
  }
  main #vehicles .left,
  main #vehicles .right{
    padding: 32px 15px;
  }
}
@media all and (max-width: 767px){
  main #vehicles .left,
  main #vehicles .right{
    padding: 10px 5px;
  }
  main #vehicles .left .go img:first-child,
  main #vehicles .right .bike img:first-child{
    height: 18px;
  }
  main #vehicles .left .go img,
  main #vehicles .right .bike img{
    width:250px;
  }
  main #vehicles h3{
    margin: 7px 0;
    font-size: 18px;
  }
  main #vehicles a{
    font-size: 18px;
  }
}

/*blocco centrale*/
main #center .banner {
  background-image: url(../img/helbiz-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  margin-bottom: 100px;
  position: relative;
}
main #center .container{
  margin-bottom: 50px;
}
main #center h2{
  font-size: 36px;
}
main #center h4{
  font-size: 18px;
  padding: 15px 0;
}
main #center .banner .phone {
  text-align: center;
}
main #center .banner .phone img{
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}
/*do un padding superiore al container da 991 in giu e aggiusto dimensioni*/
@media all and (max-width: 991px){
  main #center .container .left {
    padding-top: 50px;
  }
  main #center .banner{
    height:450px;
  }
  main #center .banner .phone img{
    height:500px;
  }
}

/*blocchi info*/
main #info{
  padding-top: 40px;
  color: white;
  text-align: center;
}
main #info a{
  text-decoration: none;
  color: white;
}
/* blocco smart e generalità della sezione */
main #info .container:first-child{
  height: 500px;
  background-image: url(../img/scooter-helbiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px
}
main #info .smart .text{
padding-top: 100px;
}
main #info .text h2{
  font-size: 48px;
}
main #info .text p,
main #info .text a{
  font-size: 21px;
}
main #info .text p{
  margin-top: 32px;
  margin-bottom: 18px;
}
@media all and (max-width: 991px){
  main #info{
    padding-top:0;
  }

  main #info .container:first-child{
    margin: 0;
  }
  main #info .smart .text{
  padding-top: 50px;
  }
  main #info .text h2{
    font-size: 30px;
  }
  main #info .text p,
  main #info .text a{
    font-size: 17px;
  }
  main #info .text p{
    margin: 28px 0 12px;
  }
}
/* blocchi get the app e find us */
main #info .container .left
{
  padding: 48px 15px 48px 0px;
}
main #info .container .right{
  padding: 48px 0 48px 15px;
}
main #info .container .app{
  position: relative;
  height: 600px;
  background-color: #3b4d60;
  text-align: center;
}
main #info .container .find-us{
  height: 600px;
  background-image: url(../img/cities.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
main #info .container .app img{
  position: absolute;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
}
main #info .container .app,
main #info .container .find-us{
  padding-top: 70px;
}
@media all and (max-width: 991px){
  main #info .container .find-us{
    height: 400px;
  }
  main #info .container .app{
    height: 400px;
  }
  main #info .container .left,
  main #info .container .right
  {
    padding: 32px 15px;
  }
  main #info .container .app img{
    height: 200px;
  }
}
@media all and (max-width: 767px){
  main #info .container .left,
  main #info .container .right
  {
    padding: 10px 5px;
  }
}
/* #family */
main .family{
  height: 430px;
  margin-bottom: 48px;
  background-image: url(../img/social-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .family .social{
  text-align: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 100px;
}
main .family .social h2{
  font-size: 32px;
  margin-bottom: 8px;
}
main .family .social li {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px
}
@media all and (max-width: 991px){
  main .family{
    height: 380px;
    margin-bottom: 32px;
  }
  main .family .social{
    padding: 40px 80px;
  }
}

/*footer*/
footer{
  background-color: black;
  padding: 100px 0;
}
/*parte alta*/
footer .up li:first-child{
    padding: 0 20px 16px;
}
footer .up li{
    padding: 4.5px 20px;
}
footer a{
  text-decoration: none;
  color: #696969;
  font-size: 15px;
}
footer h4{
  color: white;
  font-size: 16px;
}
/*parte bassa*/
footer .down hr:first-child{
  margin: 96px 0 32px;
  border-width: 0.1px
}
footer .down li{
  display: inline-block;
  margin-right: 8px;
  font-size: 20px;
}
footer .down,
footer .down a
{
  color: white;
}
footer .down .left,
footer .down .middle,
footer .down .right
{
  padding-left: 20px;
}
footer .down hr{
  margin-top: 32px;
  margin-bottom: 28px;
  border-width: 0.1px
}
footer .app{
  text-align: center;
}
footer .app img:first-child{
  margin-right: 15px;
}
@media all and (max-width: 991px){
  footer .up li{
      padding: 4.5px 0;
  }
  footer .up li:first-child{
      padding: 16px 0;
  }
  footer .down .left,
  footer .down .middle,
  footer .down .right
  {
    padding: 15px 0;
  }
  footer .down hr:first-child{
    margin: 64px 0 32px;
  }
}
