body{
  font-family: sans-serif;
}
/*nuova larghezza massima*/
.container{
  max-width: 1440px;
}

/*reset liste*/
ul{
  list-style-type: none;
}


/*header*/
/* menu */
header nav{
  padding: 16px;
}
/*parte sinistra*/
header nav .logo{
  line-height: 28px;
}
header nav img{
  height: 12.2px;
  vertical-align: middle;
}
/*parte destra*/
header nav a{
    text-decoration: none;
    color: black;
}
header nav li{
  display: inline-block;
  font-size: .690em;
  padding: 8px 14px;
}
header nav .link{
  text-align: right;
}
header nav .lang li{
  border-right: 1px solid black;
}
header nav .lang li:last-child{
  border-right: none;
}
/*burger menu*/
header nav .link span{
display: none;
}
@media all and (max-width: 991px){
  header nav .link li{
    display: none;
  }
  header nav .link span{
    display: inline-block;
    font-size: 2em;
  }
}

/*titolo*/
/*adatto titolo a grandezza schermo*/
@media all and (max-width: 991px){
  header #titolo{
    height: 410px;
  }
  header #titolo .text h1{
    font-size: 1.875em;
  }
}

@media all and (min-width: 992px){
  header #titolo{
    height: 630px;
  }
  header #titolo .text h1{
    font-size: 3.125em;
  }
}
/*caratteristiche titolo*/
header #titolo{
  position: relative;
  background-image: url(../img/title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
header #titolo .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #titolo .text li{
  display: inline-block;
  margin: 0 8px;
}
header #titolo .text h1{
  margin-bottom: 8px;
}
header #titolo .text p{
  margin-bottom: 16px;
  font-size: .9375em;
}


/*main*/
/*blocchi veicoli*/
main #vehicles a{
  text-decoration: none;
  color: blue;
  display:block;
}
main #vehicles .left,
main #vehicles .right{
  padding: 48px 15px;
}
main #vehicles .left .go,
main #vehicles .right .bike{
  background-color: #fafafa;
  text-align: center;
  padding: 40px 0;
}
main #vehicles .left .go img:first-child,
main #vehicles .right .bike img:first-child{
  height: 22px;
}
main #vehicles .left .go img,
main #vehicles .right .bike img{
  width:430px;
}
main #vehicles h3{
  margin: 10px 0;
  font-weight: normal;
  font-size: 21px;
}
main #vehicles a{
  font-size: 20px;
}
/*modifico dimensioni responsive*/
@media all and (max-width: 991px){
  main #vehicles .left .go img,
  main #vehicles .right .bike img{
    width:330px;
  }
}
@media all and (max-width: 767px){
  main #vehicles .left,
  main #vehicles .right{
    padding: 10px 5px;
  }
  main #vehicles .left .go img:first-child,
  main #vehicles .right .bike img:first-child{
    height: 18px;
  }
  main #vehicles .left .go img,
  main #vehicles .right .bike img{
    width:250px;
  }
  main #vehicles h3{
    margin: 7px 0;
    font-size: 18px;
  }
  main #vehicles a{
    font-size: 18px;
  }
}

/*blocco centrale*/
main #center .banner {
  background-image: url(../img/helbiz-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  margin-bottom: 100px;
  position: relative;
}
main #center .container{
  position: relative;
}
main #center h2{
  font-size: 36px;
}
main #center h4{
  font-size: 18px;
  padding: 15px 0;
}
main #center .phone {
  text-align: center;
}
main #center .phone img{
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}
/*do un padding superiore al container da 991 in giu e aggiusto dimensioni*/
@media all and (max-width: 991px){
  main #center .container .left {
    padding-top: 50px;
  }
  main #center .phone img{
    height:500px;
  }
  main #center .banner{
    height:450px;
  }
}
